{% extends "challengelayout.html" %}

{% block title %}
    Give it a Rest Challenge 1
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Give it a Rest Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:0%">0%</div>
</div>

<div class="minicontainer1">
<h3>"Sometimes the best thing you can do is not think, not wonder, not imagine, not obsess.
Just breathe, and have faith that everything will work out for the best."</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #1</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Worrying about the future? Focus on what you wish to happen and not on what you wish to avoid.
    </h2>
    <h3 class="sidenotes"> Write a paragraph describing the future you wish for yourself  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}