{% extends "challengelayout.html" %}

{% block title %}
    Give it a Rest Challenge 9
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Give it a Rest Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:80%">80%</div>
</div>

<div class="minicontainer1">
<h3>"Thinking is good. Over-thinking can end things before they ever get the chance to develop."</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #9</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
     <h2 class="mainnote"> If obsessing over weight... get rid of negative body-image triggers
     </h2>
    <h3 class="sidenotes">Examples include Giving away the scale, hiding or staying away from the mirror </h3>
    <h3 class="sidenotes">But remember: Focus on what you can change while accepting and releasing what you can't </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}