{% extends "challengelayout.html" %}

{% block title %}
    Give it a Rest Challenge 7
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Give it a Rest Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:60%">60%</div>
</div>

<div class="minicontainer1">
<h3>"Thinking is good. Over-thinking can end things before they ever get the chance to develop."</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #7</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote">
Stop beating yourself up for mistakes you made in the past. Focus on learning from them. </h2>
    <h3 class="sidenotes">Instead of focusing on the mistake, write the lesson you learned from a past experience and file it in a life lesson binder.</h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}