{% extends "challengelayout.html" %}

{% block title %}
    Give it a Rest Challenge 6
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Give it a Rest Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:50%">50%</div>
</div>

<div class="minicontainer1">
<h3>"Thinking is good. Over-thinking can end things before they ever get the chance to develop."</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #6</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Regretting a decision you made in the past? Give it a rest.
      </h2>
    <h3 class="sidenotes"> If you can change it then change it. </h3>
    <h3 class="sidenotes"> If you can’t change it, bury it. Take a piece of paper and write the decision you regret. Dig a hole and bury it in the ground.</h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}