{% extends "challengelayout.html" %}

{% block title %}
    Give it a Rest Challenge 8
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Give it a Rest Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:70%">70%</div>
</div>

<div class="minicontainer1">
<h3>"Thinking is good. Over-thinking can end things before they ever get the chance to develop."</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #8</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote">
Write a name of a person you’ve been stuck on for a long time on a balloon and release it into the air.
 </h2>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}