{% extends "challengelayout.html" %}

{% block title %}
    Thank Giving Challenge 10
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Thanks Giving Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:90%">90%</div>
</div>

<div class="minicontainer1">
<h3>"When you look at life through eyes of gratitude, the world becomes a magical and amazing place."</h3>
<h5 class="quoted">-Jennifer Gayle</h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Final Challenge</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Give someone a hug and tell them you deeply appreciate their presence/contribution to you life. </h2>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}