{% extends "challengelayout.html" %}

{% block title %}
    Thank Giving Challenge 3
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Thanks Giving Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:20%">20%</div>
</div>

<div class="minicontainer1">
<h3>"It's a funny thing about life, once you begin to take note of the things you are grateful for, you
begin to lose sight of the things that you lack."</h3>
<h5 class="quoted">-Germany Kent</h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #3</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Text a sincere thank you to someone who helped you today. </h2>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}