{% extends "challengelayout.html" %}

{% block title %}
    Care Giving Challenge 1
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Care Giving Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:0%">0%</div>
</div>

<div class="minicontainer1">
<h3>"Caring about others, running the risk of feeling, and leaving an impact on people, brings happiness."</h3>
<h5 class="quoted">-Harold Kushner</h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #1</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Tell someone in your life that you truly care about them </h2>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}