{% extends "challengelayout.html" %}

{% block title %}
    Care Giving Challenge 8
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Care Giving Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:70%">70%</div>
</div>

<div class="minicontainer1">
<h3 class="smallquote">"Caring is giving from the Heart"</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #8</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote">
Help a neighbor or friend by babysitting their child while they go out to chill.
 </h2>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}