{% extends "challengelayout.html" %}

{% block title %}
    Care Giving Challenge 10
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Care Giving Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:90%">90%</div>
</div>

<div class="minicontainer1">
<h3 class="smallquote">"Caring is giving from the Heart"</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Final Challenge</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Commit to helping someone in need on a weekly basis (e.g. take a friend’s child to school, offer a ride to work or back home, bring the mail or pick up groceries for a homebound neighbor, mow the lawn of your grandparents. </h2>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}