{% extends "challengelayout.html" %}

{% block title %}
    Care Giving Challenge 7
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Care Giving Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:60%">60%</div>
</div>

<div class="minicontainer1">
<h3 class="smallquote">"Caring is giving from the Heart"</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #7</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Show kindness to a stranger by adding money to a meter running out of time / or to a soon expiring meter </h2>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}