{% extends "challengelayout.html" %}

{% block title %}
    Give it a Try Challenge 4
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle"> Give it a Try Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:30%">30%</div>
</div>

<div class="minicontainer1">
<h3>" Success is achieved and maintained by those who try and keep trying."</h3>
<h5 class="quoted">-W. Clement Stone</h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #4</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Initiate an interaction with someone on a friendly or romantic basis </h2>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}