{% extends "challengelayout.html" %}

{% block title %}
    Give it a Try Challenge 8
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle"> Give it a Try Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:70%">70%</div>
</div>

<div class="minicontainer1">
<h3>" 'It's impossible,' said pride. 'It's risky' said experience. 'It's pointless,'
said reason. 'Give it a Try', whispered the Heart."</h3>
<h5 class="quoted"></h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #8</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Set your goal higher than you think is realistic and make the effort to achieve it
      </h2>
    <h3 class="sidenotes"> (e.g. financial or romantic goals: Hit on a girl you consider a “10”, aim to earn 50% more money than you normally aim for, aim for a job title that is superior to the job you currently pursuing).. </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}