{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
    </form>
    <form action="/change" method="get">
        <button class="changep" type="submit">Change Password</button>
    </form>


{% endblock %}
