{% extends "layout.html" %}

{% block title %}
    Recommend Thought
{% endblock %}

{% block main %}
   <div class="container1">
    <h2 class= "h2rec">
        We recommend that you start with:
    </h2>
    <img id = "thoughtgoal" src="{{url_for('static', filename='giveitathoughtexp.jpg')}}" />
    <h1>Give it a Thought</h1>
    </div>
    <div class="minicontainer">
    <h2 class= "h2rec">Your strongest pillar is:</h2>
    <h1>{{ bestone }}</h1>
    </div>

    <h3>Press next to get started with the challenges!</h3>

    <form action="/challenge" method="get">
    <button class="next">Let's Do It!</button>
</form>
{% endblock %}