{% extends "challengelayout.html" %}

{% block title %}
    Give it a Thought Challenge 4
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle"> Give it a Thought Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:30%">30%</div>
</div>

<div class="minicontainer1">
<h3>"Patience, he thought. So much of this was patience- waiting, and thinking and doing things right.
So much of all this, so much of all living was patience and thinking."</h3>
<h5 class="quoted">-Gary Paulson</h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #4</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> To avoid making impulsive food buys this month only go to the grocery shop when satiated  </h2>
    <h3 class="sidenotes"> We commonly buy more with hungry eyes, so go to the store when full! </h3>
    <h3 class="sidenotes"> </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}