{% extends "challengelayout.html" %}

{% block title %}
    Forgive Challenge 5
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Forgiveness Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:40%">40%</div>
</div>

<div class="minicontainer1">
<h3>"To forgive is to set a prisoner free and discover that the prisoner was you."</h3>
<h5 class="quoted">-Lewis Smedes</h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #5</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Extend an olive branch to someone with whom you have an old conflict by writing them a letter.  </h2>
    <h3 class="sidenotes"> A handwritten letter is best here! </h3>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}