{% extends "challengelayout.html" %}

{% block title %}
    Forgive Challenge 7
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Forgiveness Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:60%">60%</div>
</div>

<div class="minicontainer1">
<h3>"To forgive is the highest, most beautiful form of love. In return, you will receive untold peace and happiness."</h3>
<h5 class="quoted">-Robert Muller</h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #7</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Treat every person you meet today and especially those you think dislike you as if they were your biggest fans. Notice their response.
 </h2>
    <h3 class="sidenotes"> Write down that response on a piece of paper. </h3>
    <h3 class="sidenotes">  </h3>
    <h3 class="sidenotes"> </h3>
</div>



{% endblock %}