{% extends "challengelayout.html" %}

{% block title %}
    Forgive Challenge 1
{% endblock %}

{% block decoration %}

<h2 class="progressbartitle">Forgiveness Progress</h2>
<div class="w3-border">
  <div class="w3-blue w3-center" style="height:24px;width:0%">0%</div>
</div>

<div class="minicontainer1">
<h3>"To forgive is to set a prisoner free and discover that the prisoner was you."</h3>
<h5 class="quoted">-Lewis Smedes</h5>
</div>
<div class="challengenumbercontainer1">
    <span>
<h1 class="headofchallenge">Challenge #1</h1>
    </span>
</div>
{% endblock %}

{% block main %}

<div class = containerchallenge>
    <h2 class="mainnote"> Write a list of five people who have hurt you and how they have done so. </h2>
    <h3 class="sidenotes"> Then look at the situation from their side and try to understand why they would do what they did. </h3>
    <h3 class="sidenotes"> Forgive them and then dispose of the page! </h3>
    <h3 class="sidenotes"> Recall that holding a grudge is only weighing you down!</h3>
</div>



{% endblock %}